<p> Id : {{id}} </p>

<br>
<br>
<input [(ngModel)]="id"  readonly>
<br>
<br>
<input [(ngModel)]="id">

<br> <br>

Pokemon : {{selectedPokeId}}   

<br> <br>
<input [(ngModel)]="fliterValue" type="text"> 
<br>
<select [(ngModel)]="selectedPokeId">
    <option *ngFor="let poke of pokemons|filter:'nom':fliterValue " [value]="poke.id" >
      {{poke.name}}
    </option>
</select>

<button (click)="go()">  Go</button>

<app-pokedetail *ngIf="pokeDetail"   [detail] = "pokeDetail">  </app-pokedetail>  


