<p> Id : {{id}} </p>

<br>
<br>
<input [(ngModel)]="id"  readonly>
<br>
<br>
<input [(ngModel)]="id">

<br> <br>

Pokemon : {{selectedPokeId}}   

<br> <br>
<select [(ngModel)]="selectedPokeId">
    <option *ngFor="let poke of pokemons " [value]="poke.id" >
      {{poke.nom}}
    </option>
</select>


<br>

<h3> La liste des pokemons : </h3>

Filtrer: <input [(ngModel)]="fliterValue" type="text">

<ol>
  <li *ngFor="let poke of pokemons|filter:'nom':fliterValue" >
    {{poke.nom}}
  </li>
</ol>


